/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-apr-2020, 10.12.15
    Author     : Matteo
*/

.howtobuy{
    text-align: center;
    margin-bottom: 2%;
}
.howtobuy div{
    width: 50%;
    background-color: #656565;
    padding: 15px 30px;
    margin: auto;
    color: white;
    text-align: justify;
    font-size: 18pt;
    font-weight: 300;
}
.howtobuy div a{
    color: #00b6ff;
    text-decoration: none;
}
.howtobuy div a:hover{
    text-decoration: underline;
}
.howtobuy h1{
    color: #00b6ff;
    text-align: center;
    font-size: 30pt;
}
.howtobuy hr{
    margin: 0;
    border: 2px solid;
    border-radius: 5px;
    color: #00b6ff;
}



