.searchandbox{
    margin-top: 1%;
    width: 73%;
    margin-bottom: 2%;
}
.search_bar{
    width: 100%;
    background: #919191;
    text-align: left;
}
.search_bar input[type="text"]{

    border: 0;
    background: #919191;
    width: 80%;
    padding: 1% 5%;
    outline: none;
    color: white;
    font-size: 250%;
}
.search_bar input[type="submit"]{
    float: right;
    border: 0;
    background: #009eff;
    text-align: center;
    width: 10%;
    padding: 1% 0;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 250%;
}
.list_box{
    margin-top: 1%;
	margin-bottom: 1%;
    height: max-content;
    background: #656565;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list_box hr{
    margin: 0;
    border: 1px solid;
    color: #202020;
}
#title{
    color: #009eff;
    font-size: 30pt;
    margin-top: 10px;
    padding-left: 10px;
}
.productrow{
    display: flex;
    color: white;
    cursor: pointer;
}
.productrow:hover{
    background-color: #47B9FF;
}
.selected_row {
	background-color: #007ECC;
}

#immagine{
    background-color: white;
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    text-align: center;
}
#p_img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
#info{
    margin: 5px 0;
    width: 60%;
    overflow-wrap:break-word;
    flex: 1 1 0;
}
#name{
    font-size: 24pt;
    margin: 2px;
}
#code{
    font-size: 16pt;
    margin: 2px;
}
#description{
    font-size: 16pt;
    margin: 20px 2px;
    overflow: hidden;
}
#price{
    flex: 0 1 0;
    margin: auto;
    margin-right: 15px; 
}

/*prezzo*/

.og_price {
    color: white;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
}
.og_price_crossed {
    color: white; 
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    text-decoration: line-through;
    text-decoration-color: red;
}
.discount{
    color: red;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}
.discounted_price{
    color: red;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
}