.staffnav_items{
    padding: 7% 3%;
    display: block;
	
}
.staffnav_items img{
    display: inline-flex;
    width: 25px;
    height: 25px;
    filter: grayscale(100%) brightness(500%);
    transition: 0.25s;	
}

.staffnav_items a{
    display: inline-flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    transition: 0.25s;
}

.staffnav_items a,span{
    text-decoration: none;
    color: white;
}
.staffnav_items a:hover {
    color: #00b6ff;
}
.staffnav_items a:hover>img {
    filter: initial;
}

.staff_main{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
}
.staff_sidenav{
    background-color: #a3a3a3;
    width: 20%;
    margin: 0 2%;
}


.side_container{
    margin-top: 1%;
    width: 73%;
    background: #656565;
    text-align: center;
    margin-bottom: 2%;
	padding: 0% 2% 2% 2%;
}

.out_prodname{
    display: grid;
    grid-template-columns: 11% 89%;
    grid-column-gap: 10px;
    width: 100%;
}

#prodname_hint{
	margin-top: 6px;
}

#sc_title{
    text-align: left;
    color: #008CFF;
    font-size: 25pt;
	margin: 30px 0 0 0;
	font-weight: 800;
}
#sc_addpic{
    display: inline-block;
    width: 40%;
    height: 40%;
    border-radius: 30px;
	padding: 20px;
}

.errormsg{
	color: lightcoral;
}

.sc_hint{
    color: #CDE6F5;
    font-size: 15pt;
    margin: 10px 0 2px 0;
	text-align: left;
}

.sc_textinput{
    border: 0;
    background: #ffffff;
    font-size: 20px;
    outline: none;
    color: black;
    border-radius: 6px;
    width: 100%;
    padding: 0.3em;
    box-sizing : border-box;
    min-width: 0;
}

.imagecontainer{
	text-align: center;
	align-self: center;
	height: 100%;
}

#imagelabel{
	float: left;
	font-weight: 600;
	color: #CDE6F5;
	color: #CDE6F5;
    font-size: 15pt;
    margin: 10px 0 0 0;
	text-align: left;
}

#image{
	color: white;
}

#desc_esaustiva{
	min-width: 100%;
	max-width: 100%;
	min-height: 110px;
	height: 110px;
	max-height: 300px;
}
#desc_breve{
	min-width: 100%;
	max-width: 100%;
	height: 58px;
	min-height: 58px;
	max-height: 116px;
}
.alpha{
	margin-top: 10px;
    display: flex;
	width: 100%;
		
}
.bravo{
    display: flex;
    padding: 0;
	flex-direction: column;
	flex: 1;
	width: 70%;
	margin-left: 30px;
}

.charlie{
	display: flex;

}

.charlie_inner{
	width: 100%;
}

#charlie_subcat{
	margin-left: 1%;
}

.select_placeholder {
    color:ghostwhite
}

.publish{
	border: 0;
    background: #009eff;
    display: block;
    margin: auto;
    text-align: center;
	font-size: 13pt;
	font-weight: 600;
    padding: 10px;
    width: 150px;;
    outline: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button_container{
	margin-top: 25px;
	display: flex;
	width: 100%;
	align-items: flex-end;
}

.select_cat {
    border: 0;
    text-align: center;
    width: 100%;
	height: 36px;
    padding: 0.3em;
    outline: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

#staffpic{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#staffmainview{
	padding: 0;
	position: relative;
}
.centeredstaff {
	color: white;
  position: absolute;
  top: 50%;
  left: 50%;
	width: 100%;
  transform: translate(-50%, -50%);
}

#txt_staff1{
		font-weight: 800;
	font-size: 100pt;
}
#txt_staff2{
		font-weight: 800;
	font-size: 20pt;
}