.staffnav_items{
    padding: 7% 3%;
    display: block;
	
}
.staffnav_items img{
    display: inline-flex;
    width: 25px;
    height: 25px;
    filter: grayscale(100%) brightness(500%);
    transition: 0.25s;	
}

.staffnav_items a{
    display: inline-flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    transition: 0.25s;
}

.staffnav_items a,span{
    text-decoration: none;
    color: white;
}
.staffnav_items a:hover {
    color: #00b6ff;
}
.staffnav_items a:hover>img {
    filter: initial;
}

.staff_main{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
}
.staff_sidenav{
    background-color: #a3a3a3;
    width: 20%;
    margin: 0 2%;
}


.side_container{
    margin-top: 1%;
    width: 73%;
    background: #656565;
    text-align: center;
    margin-bottom: 2%;
	padding: 0% 2% 2% 2%;
}
/*Contentuto di side_container (usato per mettere un padding a tutto)*/

.out_prodname{
    display: grid;
    grid-template-columns: 17% 83%;
    grid-column-gap: 10px;
    width: 100%;
}

#sc_title{
    text-align: left;
    color: #008CFF;
    font-size: 50px;
}
#sc_addpic{
    display: inline-block;
    width: 40%;
    height: 40%;
    border-radius: 30px;
	padding: 20px;
}

.sc_hint{
    color: white;
    font-size: 20pt;
    margin: 0;
	text-align: left;
}

.sc_textinput{
    border: 0;
    background: #ffffff;
    font-size: 20px;
    outline: none;
    color: black;
    border-radius: 10px;
    width: 100%;
    padding: 0.5em;
    box-sizing : border-box;
    min-width: 0;
}
.alpha{
    margin-top: 10px;
    display: flex;
	width: 100%;
}
.bravo{
    display: flex;
    padding: 0;
	flex-direction: column;
	flex: 1;
	margin-top: 30px;
	
}

.charlie{
	display: flex;

}

.charlie_inner{
	width: 100%;
}

.select_placeholder {
    color:ghostwhite
}

.publish{
	
	border: 0;
    background: #009eff;
    display: block;
    margin: auto;
    text-align: center;
	font-size: 13pt;
	font-weight: 600;
    padding: 10px;
    width: 150px;;
    outline: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button_container{
	margin-top: 25px;
	display: flex;
	width: 100%;
	align-items: flex-end;
}

.select_cat {
    border: 0;
    text-align: center;
    width: 100%;
    padding: 13px;
    outline: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}