.view_box{
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    padding-bottom: 20px !important;
    background: #656565;
    text-align: center;
}
.view_box #prod_img{
    padding: 2%;
    height: 300px;
    background-color: white;
}
.view_box #prod_img #p_img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.view_box #nameandprice{
    display: flex;
    margin-top: 10px;
    color: white;
}
.view_box #nameandbrand{
    margin-left: 30px;
    text-align: left;
    flex: 1 1 0;
}
.view_box #nameandbrand h1, .view_box #nameandbrand span{
    margin-top: 0;
    margin-bottom: 3px;
}
.view_box #prod_name{
    font-size: 30pt;
}
.view_box #nameandbrand span{
    font-size: 16pt;
}
.view_box #prod_name, .view_box #brand, .view_box #code{
    color: #009eff;
}
.view_box #price{
    text-align: right;
    margin: auto;
    margin-right: 30px;
    flex: 0 1 0;
}
.view_box #prod_code{
    text-align: left;
    margin: 15px 0;
    color: white;
    font-size: 14pt;
}
.view_box hr{
    margin: 0 20px;
    border: 2px solid white;
    border-radius: 5px;
}
.view_box #description{
    margin: 40px 30px;
    color: white;
    font-size: 16pt;
    text-align: justify;
}
.view_box #buy{
    padding: 5px;
    background-color: #009eff;
    font-size: 18pt;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

/*prezzo*/

.og_price {
    color: white;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
}
.og_price_crossed {
    color: white; 
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    text-decoration: line-through;
    text-decoration-color: red;
}
.discount{
    color: red;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}
.discounted_price{
    color: red;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
}